.spinner {
  border: 3px solid var(--redi-light-gray);
  border-top-color: var(--redi-teal);
  border-radius: var(--radius-full);
  animation: spin 0.8s linear infinite;
}

.sm {
  width: 20px;
  height: 20px;
  border-width: 2px;
}

.md {
  width: 40px;
  height: 40px;
}

.lg {
  width: 60px;
  height: 60px;
  border-width: 4px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
