.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  align-items: center;
}

.link {
  font-size: var(--text-sm);
}

.description {
  font-size: var(--text-sm);
  color: var(--redi-medium-gray);
  margin: 0;
}
